bin
doc
go
img
opt
src
tmp
var

# stupid dotfiles
.dbus
.fehbg
.gnupg
.hunspell*
.lesshst
.sc_history
.sfeed
.ssh
.w3m
.wget-hsts
.bash_history
.weechat

# random programs that don't belong in etc/
etc/glib*
etc/hub
etc/keybase/
etc/msmtp/
etc/mutt/
etc/netsurf/
etc/nvim/autoload/
etc/nvim/plugged/
etc/nvim/view/
etc/pulse/
etc/aerc
