Documents/
Desktop/
Downloads/
Pictures/
Public/
repos/
snap/
Templates/
Videos/
d2p
refind.conf

.bashub/
.cache/
.fonts/
.gem/
.jak/
.kde4/
.local/
.mozilla/
.oh-my-zsh/
.pki/
.SpaceVim/
.SpaceVim.d/
.termrec/
.themes/
.thunderbird/
.vim/
.vscode/

.config/

!.config/polybar/
!.config/alacritty/
!.config/i3/

!~/Pictures/wallpaper.png
