Documents/
Downloads/
Pictures/

img/
doc/
src/
bin/
var/
tmp/
opt/

.ssh/
.fonts/
.local/

.viminfo
etc/msmtp/
etc/vim/autoload
etc/vim/plugged
etc/bash/.bash_history
etc/netsurf/*
etc/hub
etc/gtk-2.0/
etc/midori/

.emacs.d/
.vim/
.wget-hsts
.lesshst
.bash_history
.netrc
etc/netrc
