[user]
	email = kiedtl@tilde.team
	name = Kiëd Llaentenn

[core]
	hooksPath = "/home/kiedtl/etc/git/hooks"

[sendemail]
	smtpServer = smtp.tilde.team
	smtpEncryption = tls
	smtpUser = kiedtl
	smtpServerport = 587
