!    ---
!   xterm
!    ---

xterm*faceName: ttyp0
xterm*faceSize: 11

! double-click to select whole URLs :D
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

xterm*internalBorder: 24

xterm*VT100.Translations: #override \
		Ctrl Shift <Key>V:	insert-selection(CLIPBOARD) \n\
		Ctrl Shift <Key>C:	copy-selection(CLIPBOARD)

xterm*cursorColor: #eeeeee
