*Scrollbar.thickness: 14
*Scrollbar.thumb: None
*Scrollbar.foreground: gray50
*Scrollbar.background: gray80
*Scrollbar.borderWidth: 0
*ScrollBarBorder: 0

!    ---
!   herbe
!    ---
herbe.font_pattern: cursed:size=16
herbe.line_spacing: 5
herbe.padding:      24
herbe.width:        450
herbe.border_size:  3
herbe.pos_x:        20
herbe.pos_y:        47
! 0 = TOP_LEFT, 1 = TOP_RIGHT, 2 = BOTTOM_LEFT, 3 = BOTTOM_RIGHT
herbe.corner:       0
herbe.duration:     15

!    ---
!   xterm
!    ---

xterm*scrollBar:      false
xterm*rightScrollBar: true
xterm*cursorColor:    #000000
xterm*internalBorder: 16
xterm*faceName:       cursed
xterm*faceSize:       16

xterm*VT100.Translations: #override \
		Ctrl Shift <Key>V:	insert-selection(CLIPBOARD) \n\
		Ctrl Shift <Key>C:	copy-selection(CLIPBOARD)   \n\
		Ctrl Shift <Key>S:	secure()

! double-click to select whole URLs
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48


!        ----
!    rxvt-unicode
!        ----

URxvt*termName:       xterm-256color
URxvt*scrollBar:      true
URxvt*saveline:       1500
URxvt*transparent:    false
URxvt*depth:          32
URxvt*internalBorder: 24
URxvt*externalBorder: 0
URxvt*font:           xft:fixed:antialias=true:size=15
URxvt*boldFont:       xft:fixed:Bold:antialias=true:size=15
URxvt*italicFont:     xft:fixed:Italic:antialias=true:size=15
